spring:
  application:
    name: water-service
    version: @project.version@
  profiles:
    active: home
  webflux:
    base-path: "/home/water"
  datasource:
    host: ${database-host:localhost}
    port: ${database-port:1433}
    database: ${database-name:dummyName}
    username: ${database-user:dummyUser}
    password: ${database-password:dummyPassword}
  flyway:
    url: ${flyway-url:localhost}
    user: ${database-user:dummyUser}
    password: ${database-password:dummyPassword}
    enabled: on

server:
  port: 6200
eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:6000/eureka
    fetch-registry: true
    register-with-eureka: true

shelly:
  sensor:
    uni:
      hot-water:
        host: 10.78.30.47
        port: 80

---

spring:
  config:
    activate:
      on-profile: local

server:
  port: 6006
management:
  server:
    port: 8006

eureka:
  client:
    enabled: false

---

spring:
  config:
    activate:
      on-profile: test
  flyway:
    enabled: false
